label{
    display: inline-block;
    width: 150px; 
    text-align: right;
    margin-right: 10px;
    font-weight: 800;
}
form{
    text-align: justify;
}
#head1{
    text-align: center;
}
button{
   margin-top: 15px;
   margin-left: 140px;
}
form button[type="reset"] {
    margin-left: 10px;
}
input[type="text"] {
    width: 200px;
    padding: 5px;
    border: 1px solid #a4a1a1;
    margin-top: 10px;
     }
select {
    width: 200px;
    padding: 5px;
    border: 1px solid #a4a1a1;
    margin-top: 10px;
  }
  